                <script src="../js/vendor/jquery-1.10.1.min.js"></script>
                <script type="text/javascript" src="../js/vendor/prism.js"></script>
                <script type="text/javascript" src="../js/vendor/jquery.zclip.min.js"></script>
                <script type="text/javascript" src="../bower_components/dat-gui/build/dat.gui.js"></script>
                <script type="text/javascript" src="../bower_components/paper/dist/paper-full.min.js"></script>
                <script type="text/javascript" src="../bower_components/underscore/underscore-min.js"></script>
                <script src="../js/main.js"></script>
                
                <script>
                    $(document).ready(function(){

                        
                        $('a#copy-button').zclip( {
                            path: 'js/vendor/ZeroClipboard.swf',
                            copy: function(){ 
                                console.log( "COPY", $( 'code#output' ).text() );
                                var output = $( 'code#output' ).text();
                                return output;
                            },
                            beforeCopy: function(){
                                console.log( "BEFORE COPY" );
                                return "";
                            },
                            afterCopy: function(){
                               console.log( "COPIED", $( 'code#output' ).text() );
                               return "";
                            }                           
                        });

                    });
                </script>